attr==0.3.2
brotli==1.1.0
brotlicffi==1.1.0.0
cchardet==2.1.7
chardet==5.2.0
colorama==0.4.6
ConfigParser==7.2.0
cryptography==45.0.5
docutils==0.21.2
filelock==3.18.0
h2==4.2.0
html5lib==1.1
HTMLParser==0.0.2
ipython==9.4.0
ipywidgets==8.1.7
Jinja2==3.1.6
jnius==1.1.0
js==1.0
keyring==25.6.0
lxml==6.0.0
Pillow==11.3.0
polling==0.3.2
polling2==0.5.0
protobuf==6.31.1
pyodide==0.0.2
pyOpenSSL==25.1.0
pytest==8.4.1
railroad==0.5.0
redis==6.2.0
simplejson==3.20.1
Sphinx==8.2.3
urllib3_secure_extra==0.1.0
v8eval==0.3.2
xmlrpclib==1.0.1
zstandard==0.23.0
